.card {
    width: 200px;
    margin: 10px;
    border: 1px black solid;
}


.card-title{
    font-size: medium;
}

.card-img-top {
    height: auto;
    object-fit: cover;
}

.card-body{
    font-size: small;
    text-align: center;
}

.card-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.outstock{
    border: 2px deeppink solid;
}
.onstock{
    border: 2px green solid;
}


